@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
}
body{
    background-color: black;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   height: 100vh;
}
header {
    background: rgba(0, 0, 0, 0.7); 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 0;
    max-width: 1200px;
    margin: auto;
  }
  
  .logo img {
    height: 120px;
    width: 120px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links li a:hover {
    color: #f09c42;

  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger span {
    background-color: white;
    height: 3px;
    width: 25px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 100%;
      left: -100%;
      background: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease;
    }
  
    .nav-links.show {
      left: 0;
    }
  
    .hamburger {
      display: flex;
    }
  }

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
}
.hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(249, 252, 255);
  padding: 0 600px;

}
.hero-container h1{
  font-size: 200px;
  text-align: center;
}
